/*闪卡悬浮显示*/
.card__main .protyle-wysiwyg span[data-type~=mark], [data-key="viewCards"] .protyle-wysiwyg span[data-type~=mark] {
    border-bottom:2px solid var(--b3-protyle-inline-mark-color);
    background-color:transparent;
    padding: 0 2px;
}
.card__block--hidemark span[data-type~=mark] {
    border-bottom:2px solid var(--b3-protyle-inline-mark-color);
    background-color:transparent;
    padding: 0 2px;
}

.card__block--hidemark span[data-type~=mark]:hover {
    color:var(--b3-protyle-inline-mark-color) !important;
}
/*列表段落文字首行缩进 */

.li>[custom-indent="false"].p {
    text-indent: 2em;
}

.li>[custom-indent="true"].p {
    text-indent: 0;
}
.p,
#searchList>[data-type="search-item"]>.b3-list-item__text,
#globalSearchList>[data-type="search-item"]>.b3-list-item__text {
    text-indent: 0em;
}


[custom-indent="false"].p {
    text-indent: 2em;
}

[custom-indent="true"].p {
    text-indent: 0;
}

.li>div:nth-child(2) {
    text-indent: 0;
}

.protyle-attr {
    text-indent: 0;
}

.img {
    text-indent: 0;
}



