.color__square {
    transform: scale(1.3) !important;
    margin: 2px 4px !important;
}
/*闪卡悬浮显示*/
.card__main .protyle-wysiwyg span[data-type~=mark], [data-key="viewCards"] .protyle-wysiwyg span[data-type~=mark] {
    border-bottom:2px solid var(--b3-protyle-inline-mark-color);
    background-color:transparent;
    padding: 0 2px;
}
.card__block--hidemark span[data-type~=mark] {
    border-bottom:2px solid var(--b3-protyle-inline-mark-color);
    background-color:transparent;
    padding: 0 2px;
}

.card__block--hidemark span[data-type~=mark]:hover {
    color:var(--b3-protyle-inline-mark-color) !important;
}
/*列表段落文字首行缩进 */

.li>[custom-indent="false"].p {
    text-indent: 2em;
}

.li>[custom-indent="true"].p {
    text-indent: 0;
}
.p,
#searchList>[data-type="search-item"]>.b3-list-item__text,
#globalSearchList>[data-type="search-item"]>.b3-list-item__text {
    text-indent: 0em;
}


[custom-indent="false"].p {
    text-indent: 2em;
}

[custom-indent="true"].p {
    text-indent: 0;
}

.li>div:nth-child(2) {
    text-indent: 0;
}

.protyle-attr {
    text-indent: 0;
}

.img {
    text-indent: 0;
}


/*自定义字色*/
[style*="color:var(--b3-font-background10)"],
[style*="color: var(--b3-font-background10)"] {
text-decoration:0.6em underline #ffe09a;
    text-decoration-skip-ink: none;
    text-underline-offset:-0.6em;
   background-color:transparent !important;
}

[style*="color:var(--b3-font-background11)"],
[style*="color: var(--b3-font-background11)"] {
text-decoration: underline wavy #ffb92a;
text-underline-offset:0.2em;
    text-decoration-skip-ink: none;
   background-color:transparent !important;
}
[style*="color:var(--b3-font-background12)"],
[style*="color: var(--b3-font-background12)"] {
   border-bottom: 2px solid var(--b3-theme-primary);
   background-color:transparent !important;
}

/*悬浮备注*/
.tooltip.tooltip--memo{
    font-size: 1.0rem !important;
    line-height: 1.2em;
    max-width:660px;
    padding: 5px 10px;
}