.color__square {
    transform: scale(1.3) !important;
    margin: 2px 4px !important;
}
.protyle-icons {
   display:inline-flex;
}
.protyle-background__icon:hover {
   background-color:var(--b3-theme-primary-lightest) !important;
}
/*闪卡悬浮显示*/
.card__main .protyle-wysiwyg span[data-type~=mark], [data-key="viewCards"] .protyle-wysiwyg span[data-type~=mark] {
    border-bottom:2px solid var(--b3-protyle-inline-mark-color);
    background-color:transparent;
    padding: 0 2px;
    background-image:none;
}
.card__block--hidemark span[data-type~=mark] {
    border-bottom:2px solid var(--b3-protyle-inline-mark-color);
    background-color:transparent;
    padding: 0 2px;
    background-image:none;
}
.card__action .b3-button--error>div,.card__action .b3-button--warning>div,.card__action .b3-button--info>div,.card__action .b3-button--success>div {
    display: none;
}
.card__main .b3-button--error {
    line-height:43px;
    background-image:url(/appearance/themes/toy/src/4.png);
    background-size:80px 80px;
    background-repeat: no-repeat;
    border-top: 10px solid #fbd2d4;
    background-color:#fbd2d4;
    background-position-x: center;
}
.card__action .b3-button {
    padding:50px 0 0px 0px;
}
.card__action .b3-button.fn__flex-1,.card__action .b3-button.b3-button--cancel {
    padding:8px 0;
    border-top:none;
}
.b3-button--warning {
    line-height:43px;
    background-image:url(/appearance/themes/toy/src/2.png);
    background-size:80px 80px;
    background-repeat: no-repeat;
    border-top: 10px solid #fcf4cc;
    background-color:#fcf4cc;
    background-position-x: center;
}
.b3-button--info {
    line-height:43px;
    background-image:url(/appearance/themes/toy/src/3.png);
    background-size:80px 80px;
    background-repeat: no-repeat;
    border-top: 10px solid #dbdcf4;
    background-color:#dbdcf4;
    background-position-x: center;
}
.b3-button--success {
    line-height:43px;
    background-image:url(/appearance/themes/toy/src/1.png);
    background-size:80px 80px;
    background-repeat: no-repeat;
    border-top: 10px solid #cce7e0;
    background-color:#cce7e0;
    background-position-x: center;
}
.card__main .block__icon.block__icon--show.ft__smaller.fn__flex-center,.protyle-breadcrumb .block__icon.block__icon--show.ft__smaller.fn__flex-center {
    color: var(--b3-theme-primary);
    box-shadow: inset 0 0 0 0.6px var(--b3-theme-primary);
    background-color: rgba(0,0,0,0);
    border-radius: 4px;
    line-height: 20px;
    padding: 4px 6px;
}
.card__block--hidemark span[data-type~=mark]:hover {
    color:var(--b3-protyle-inline-mark-color) !important;
}
/*列表段落文字首行缩进 */

.li>[custom-indent="false"].p {
    text-indent: 2em;
}

.li>[custom-indent="true"].p {
    text-indent: 0;
}
.p,
#searchList>[data-type="search-item"]>.b3-list-item__text,
#globalSearchList>[data-type="search-item"]>.b3-list-item__text {
    text-indent: 0em;
}


[custom-indent="false"].p {
    text-indent: 2em;
}

[custom-indent="true"].p {
    text-indent: 0;
}

.li>div:nth-child(2) {
    text-indent: 0;
}

.protyle-attr {
    text-indent: 0;
}

.img {
    text-indent: 0;
}


/*自定义字色*/
[style*="color:var(--b3-font-background10)"],
[style*="color: var(--b3-font-background10)"] {
text-decoration:0.6em underline #ffe09a;
    text-decoration-skip-ink: none;
    text-underline-offset:-0.6em;
   background-color:transparent !important;
}

[style*="color:var(--b3-font-background11)"],
[style*="color: var(--b3-font-background11)"] {
text-decoration: underline wavy #ffb92a;
text-underline-offset:0.2em;
    text-decoration-skip-ink: none;
   background-color:transparent !important;
}
[style*="color:var(--b3-font-background12)"],
[style*="color: var(--b3-font-background12)"] {
   border-bottom: 2px solid var(--b3-theme-primary);
   background-color:transparent !important;
}

/*悬浮备注*/
.tooltip.tooltip--memo{
    font-size: 1.0rem !important;
    line-height: 1.2em;
    max-width:660px;
    padding: 5px 10px;
}
/*日历插件适配*/
.arco-link,.arco-tabs-nav-type-line .arco-tabs-tab-title,.arco-picker-cell:not(.arco-picker-cell-selected).arco-picker-cell-in-view .exist {
    color:var(--b3-theme-primary) !important;
}
.arco-picker-cell-today:after,.arco-tabs-nav-ink,.arco-picker-cell-selected .arco-picker-date-value {
    background-color:var(--b3-theme-primary);
}
.arco-select-view-single:focus-within, .arco-select-view-single.arco-select-view-focus {
    border-color:var(--b3-theme-primary);
}
/*搜索界面*/
/* 搜索面板调整，来自HBuiderX-Light*/
#searchList,
#globalSearchList {
    padding-right: 0px !important;
}

#searchList [data-type="search-item"],
#globalSearchList [data-type="search-item"] {
    display: block !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#searchList [data-type="search-item"]>.b3-list-item__graphic,
#globalSearchList [data-type="search-item"]>.b3-list-item__graphic {
    position: absolute;
    margin-top: 6px !important;
    margin-left: 2px !important;
}

#searchList [data-type="search-item"]>.b3-list-item__text,
#globalSearchList [data-type="search-item"]>.b3-list-item__text {
    margin-left: 20px;
    max-height: 73px !important;
    padding-top: 5px !important;
    padding-bottom: 2px !important;
    padding-right: 5px !important;
    overflow-y: auto !important;
    text-overflow: ellipsis !important;
    line-height: 1.2;
    -webkit-box-orient: inherit !important;
}

#searchList [data-type="search-item"]>.b3-list-item__meta.b3-list-item__meta--ellipsis,
#globalSearchList [data-type="search-item"]>.b3-list-item__meta.b3-list-item__meta--ellipsis {
    display: block !important;
    max-width: 95% !important;
    margin-top: -7px !important;
    margin-bottom: -5px !important;
    padding-left: 12px !important;
}
#searchList [data-type="search-item"], #globalSearchList [data-type="search-item"] {
    margin-top:6px;
    padding:2px 2px 4px 2px;
    border-bottom:3px dotted var(--b3-border-color);
    border-radius: 0px 0px 0px 0px;
    padding-bottom:12px !important;
}
/*备注框文字*/
.protyle-util  .b3-text-field.b3-text-field--text.fn__block {
   font-size: 130%;
min-height: 200px !important;
   line-height:25px;
}
.tooltip.tooltip--memo{
    font-size: 1.1rem !important;
    line-height: 1.3em;
    background-color: var(--b3-theme-background) !important;
box-shadow: var(--b3-point-shadow) !important;
    box-sizing: border-box;
    color: var(--b3-theme-on-background) !important;
    max-width:660px;
    padding: 5px 10px;
}
.protyle-attr>.b3-tooltips:hover::after {
   display:inline-block;
    padding: 5px 10px;
   font-size:1rem !important;
   opacity:0.8;
}
.fn__flex-1.fn__flex [data-type='wnd'] {
    min-height: 0%;
    margin: 12px;
    border-radius: 4px;
    box-shadow: 0 0 2px rgb(132 132 132 / 10%) inset, 0 1px 4px rgb(68 68 68 / 20%);
}

.fn__flex.fn__flex-1 {
   background-color:var(--dock-background);
}
.fn__flex-1.fn__flex.config__panel {
   border-radius: 0 var(--b3-border-radius-b) var(--b3-border-radius-b) 0;
}
#searchList ::-webkit-scrollbar, #globalSearchList ::-webkit-scrollbar {
   width:0px;
}
.protyle-content::-webkit-scrollbar {
    width: 10px;
}
#layouts > .fn__flex-1 > .fn__flex-column ::-webkit-scrollbar,::-webkit-scrollbar{ width: 6px;}
::-webkit-scrollbar-thumb{
    background-color:var(--column-scrollbar-background) !important;
}

:root {
    --b3-scroll-color:transparent !important;
}
.b3-card {
   background-color:transparent;
}
[data-key="⌘P"] .b3-dialog__container {
   background-color:var(--b3-theme-background);
}
.search__layout--row {
border-top: 1px solid var(--b3-theme-surface-lighter) !important;
    border-bottom: 1px solid var(--b3-theme-surface-lighter) !important;
}
.search__header, #criteria.fn__flex{
    border-bottom: 1px solid var(--b3-theme-surface-lighter) !important;
}
.layout-tab-bar {
   border-bottom:1px solid var(--b3-theme-surface-lighter);
}
.b3-dialog__close,.b3-dialog__close:hover {
   opacity:0;
   cursor:auto;
}
/*代码块*/

.protyle-wysiwyg span[data-type~=inline-memo] {
    text-decoration: underline wavy var(--b3-protyle-inline-link-color);
    text-decoration-skip-ink: none;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 0px solid !important;
}

.b3-typography s, .b3-typography span[data-type~=s], .protyle-wysiwyg s, .protyle-wysiwyg span[data-type~=s] {
   color:inherit;
   opacity:0.6;
}
.b3-typography strong, .b3-typography span[data-type~=strong], .protyle-wysiwyg strong, .protyle-wysiwyg span[data-type~=strong] {
   color:inherit;
}
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed]{
   background-color:transparent;
border: 3px solid transparent;
    box-shadow: 0 0 0 2px var(--blockquery) inset, 0 0 0 4px var(--blockquery);
}
.protyle-wysiwyg .protyle-breadcrumb__bar {
    font-size: 14px;
    border-bottom: 2px solid var(--blockquery);
}
.tooltip {
   box-shadow:var(--b3-point-shadow);
}
.layout-tab-container {
   overflow:hidden;
}
#searchList, #globalSearchList {
   background-color:var(--b3-theme-background);
}
.layout-tab-container,.search__tip kbd {
   background-color:var(--b3-theme-background);
}
.config__panel>.b3-tab-bar {
   background-color:var(--b3-theme-surface);
}
.b3-text-field:not(.b3-text-field--text):focus, .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):focus {
box-shadow: inset 0 0 0 0.6px var(--b3-theme-on-surface);
}
.b3-typography table,
.protyle-wysiwyg table {
 font-size:90%;
}
.protyle-wysiwyg [fold="1"][data-node-id][data-type="NodeHeading"]::after {
  /* 添加子标题折叠标记 */
  content: var(--custom-h-fold-mark);
  font-size: 60%;
 opacity:0.6;
  font-weight: 100;
  position:absolute;
  top:30px;
}
.config-bazaar__readme .item__img {
   height:150px;
   width:150px;
}
.protyle-wysiwyg [data-node-id].li:hover:before {
   border-left:0.5px solid var(--b3-theme-primary-light);
}
.layout-tab-bar .item--pin {
   min-width:30px;
   max-width:30px;
   padding:0px;
}
.layout-tab-bar .item--pin .item__text {
   padding:0px;
}
/* -------------------------------------------------代码块样式--------------------------------------------------- */
:root {
   --code-block-background:var(--b3-theme-surface);
   --b3-protyle-code-linenumber-hl:var(--code-block-background) !important;
}
.code-block {
    /* margin: 4px !important; */
    border-radius: 0px !important;
    background-color: var(--code-block-background);
    border: 0.1em solid var(--b3-table-border-color) !important;
    margin: 4px !important;
}

/* 代码块主体部分设置 */
.protyle-reset .hljs,
.protyle-wysiwyg .hljs, .b3-typography .hljs {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 16px;
    font-family: var(--b3-font-family-code);
    background: var(--code-block-background);
    border-top-right-radius: 4px;
    /* background-color: var(--b3-theme-background2); */
    /* z-index: -1; */
}
.hljs {
   color:var(--b3-theme-on-background) !important;
}
/* 代码块上方部分设置 */
.protyle-wysiwyg .code-block,
.b3-typography .code-block {
    position: relative;
    display: block;
    border-radius: 0px;
    padding-top: 32px !important;
    /* box-shadow: var(--b3-code-block-shadow); */
}

/* 设置顶部三个mac按钮样式 */
.code-block::after {
    content: ' ';
    position: absolute;
    background: #fa625c;
    box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
    border-radius: 30px;
    top: 10px;
    left: 15px;
    height: 12px;
    width: 12px;
    z-index: 1;
}

/*  ————————————————————————————————————代码块行数——————————————————————————————————*/
.protyle-linenumber__rows {
    margin-top: 32px !important;
    padding: 4px;
    background-color: var(--code-block-background);
    margin-bottom: 0px;
    font-family: var(--b3-font-family-code);
    border-top-left-radius: 4px;
}

.protyle-linenumber__rows span::before {
    color: rgba(128, 128, 128, 0.5);
}


/* ——————————————————————————————————一直显示代码块右上角的代码语言和复制按钮—————————————————————————————— */

/* 代码块的语言代码 */
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    margin-top: 0px;
    position: absolute;
    right: 4em;
    border-radius: 0px;
    opacity: 1 !important;
    font-family: var(--b3-font-family-code);
}

.b3-typography .code-block .protyle-action .protyle-action__language::after,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language::after {
    content: "›";
    font-family: var(--b3-font-family-code);
    color: #80808080;
    opacity: 1;
}

/* ————————————————————————————————集市里边代码块的主题—————————————————————————————— */
code.hljs {
    border: 1px solid var(--b3-border-color1);
}


/* 复制和设置按钮样式 */
.b3-typography .code-block .protyle-action .protyle-icon,
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    opacity: 1 !important;
    background-color: transparent !important;
}

.b3-typography .code-block .protyle-action .protyle-icon svg,
.b3-typography .code-block .protyle-action .protyle-action__language svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language svg {
    color: gray;
}
.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
   background-color:var(--code-block-background);
}
/* -------------------------------------------------代码块样式 END--------------------------------------------------- */
:root {
       --blockquery:var(--b3-theme-primary-light);
}