:root {
    /* 主色 */
    --b3-theme-primary: #1478d4;
    --b3-theme-primary-light: rgba(41, 142, 236, 0.35);
    --b3-theme-primary-lighter: rgba(41, 142, 236, 0.2);
    --b3-theme-primary-lightest: rgba(41, 142, 236, 0.15);
    --b3-theme-secondary: #f3a92f; /* unused */
    --b3-theme-background: #fff;
    --b3-theme-surface: #ededed;
    --left-sidebar-background:var(--b3-theme-surface);
    --left-sidebar-color:var(--b3-theme-on-background);
    --dock-background:var(--b3-theme-surface);
    --b3-theme-error: #d23f31; /* unused */
    --text-selection-background:    var(--b3-theme-primary-lightest); /* 文本选中背景色 */

    --line-height:                  1.75em; /* 行高 */
    --b3-protyle-inline-link-color: var(--b3-theme-primary);
--b3-protyle-inline-blockref-color:var(--b3-theme-primary);
--column-scrollbar-background:var(--b3-theme-primary-light);
    --block-margin:     var(--margin-top-bottom)  var(--margin-left-right)  !important; /* 块间距 */
    --block-padding:    var(--padding-top-bottom) var(--padding-left-right) !important; /* 块内边距 */
    --margin-top-bottom:            2px;    /* 上下 margin */
    --margin-left-right:            0px;    /* 左右 margin */
    --padding-top-bottom:           2px;    /* 上下 padding */
    --padding-left-right:           4px;    /* 左右 padding */

    /* 文字颜色 */
    --b3-theme-on-primary: rgb(255, 255, 255);
    --b3-theme-on-secondary: #fff; /* unused */
    --b3-theme-on-background: #202124;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: rgb(165, 19, 19);

    /* 线条 */
    --b3-border-color: rgba(211, 211, 211, 0.897);

    /* 滚动条 */
    --b3-scroll-color: rgba(41, 142, 236, 0.3);

    /* 列表 */
    --b3-list-hover: rgba(0, 0, 0, .06);

    /* 页签 */
    --b3-tab-background:#e6e6e6;
--column-scrollbar-background-hover:#7cacd6;

    /* 提示 */

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 0 2px rgb(132 132 132 / 10%) inset, 0 1px 4px rgb(68 68 68 / 20%);
    --b3-dialog-shadow: rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px, rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;

    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;
    /* 编辑器工具栏高度 */
    --b3-vditor-toolbar-height: 35px;
    --b3-vditor-toolbar-height-space: 8px;
    /* 即时渲染标记符颜色 */
    --b3-vditor-mark-heading-color: #0095f8;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-link-color: #008000;
    --b3-vditor-mark-bracket-color: #338b00;
    --b3-vditor-mark-paren-color: #008000;
    --b3-vditor-mark-block-color: #0095f8;
    --b3-vditor-mark-em-color: #0033b3;
    --b3-vditor-mark-strong-color: #0033b3;
    --b3-vditor-mark-backslash-color: #0033b3;
    --b3-vditor-mark-s-color: #5f6368;
    --b3-vditor-mark-mark-color: #5f6368;
    --file-list-background: #0474cfe3;
    --file-list-background-files: #0474cf3d;
    --workplace-markdown: #ee9b00;
    --layout-tabbar: #808080;
    --blockquote-color: #1d1d1d;
    --link-color: #46ac39;
    --quote-border-color:#adbbc9;
    --switch-uncheck-color:         #FFF; /* switch 开关未开启时颜色 */

    /* 图表颜色 */
    --b3-graph-line: #929292;
    --b3-graph-hl-point: #1f78b4;
    --circle-color: #95c6e0;
    --line-color: #ff7402;
    --b3-graph-hl-line: #ff7402;
}

.config__panel>.b3-tab-bar .b3-list-item {
    line-height:45px !important;
    padding:10px;
}

/*目录栏*/
.b3-list--background .b3-list-item--focus{
    background-color: var(--file-list-background) !important;
}
.b3-list--background .b3-list-item--focus .b3-list-item__text *{
   color:#fff !important;
}


.b3-list--background .b3-list-item--focus .b3-list-item__text, .b3-list--background .b3-list-item--focus .b3-list-item__graphic{
    color: white !important;
}

li.b3-list-item.b3-list-item--hide-action:hover{
    background-color: var(--file-list-background-files);
}

.toolbar__item:hover{
    color: var(--b3-theme-primary);
}

/*.ft__primary:hover{
    transform: scale(1.5);
}*/

.b3-list-item__text {
    line-height: 1.2;
}
.b3-list-item:hover {
    background-color: var(--file-list-background-files) !important;
}

/*页面标签栏*/
/*当前标签*/
.layout-tab-bar .item--focus {
    background-color: var(--file-list-background-files) !important;
    border-color: var(--b3-theme-primary);
    color: black !important;
}

.layout-tab-bar .item--focus:hover {
    background-color: var(--file-list-background-files);
}

/*标签形状*/
.layout-tab-bar .item {
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    color: var(--layout-tabbar);
}

/*代码框*/
.vditor-reset code:not(.hljs):not(.highlight-chroma):not(.language-math) {
    background-color:rgba(99, 163, 223, 0.2) !important;
}

code.language-math{
    background-color: transparent !important;
}

.b3-list--background .b3-list-item--focus {
    color: white;
}

/*工作区*/
.vditor-ir__link {
    color: var(--link-color);
}

blockquote {
    border-left: 5px solid !important;
    border-color: var(--b3-theme-primary) !important;
    background-color: var(--b3-theme-surface);
    color: #030303 !important;
    padding: 10px 10px 10px 15px !important;
}

.vditor-reset pre>code{
    border: 2px solid;
    border-color: var(--b3-theme-primary);
}

/*脚注等颜色*/
.hljs-bullet, .hljs-quote, .hljs-link, .hljs-number, .hljs-regexp, .hljs-literal {
    color: #0054d1 !important;
}

.hljs-comment, .hljs-quote {
    font-style: normal !important;
}

.hljs-symbol, .hljs-bullet{
    color: var(--b3-graph-hl-line) !important;
}

.hljs-title, .hljs-section, .hljs-selector-id {
    color: rgb(245, 131, 0) !important;
    font-weight: bold;
}

/*md语法*/
.vditor-ir__node .vditor-ir__marker {
    color: var(--workplace-markdown);
}


/*关系图*/
.graph circle{
    color: var(--circle-color);
}

.graph line{
    color: var(--line-color);
}

/*table*/
.vditor-reset table td, .vditor-reset table th {
    border: 1px solid gray;
}

/*列表*/

/*简单竖线*/
ul,
ol,
ul ul,
ol ul,
ul ol,
ol ol {
    list-style-position: inside;
}

/*标题*/
.vditor-reset h1{
    color: var(--h1-color);
    border: none;
}
.vditor-reset h2{
    color: var(--h2-color);
    border: none;
}
.vditor-reset h3{
    color: var(--h3-color);
}
.vditor-reset h4{
    color: var(--h4-color);
}
.vditor-reset h5{
    color: var(--h5-color);
}
.vditor-reset h6{
    color: var(--h6-color);
}

:root {
    --b3-font-background1: #fae1de;
    --b3-font-background2: #fff8b8;
    --b3-font-background3: hsla(177deg,46%,80%,0.5);
    --b3-font-background4: #e2f6d3;
    --b3-font-background5: hsla(0deg, 0%, 77%, 0.5);
    --b3-font-background8: hsla(31, 100%, 73%,0.5);
    --b3-font-background6:  hsla(259, 100%, 89%,0.5);
    --b3-font-background7:  rgba(177,217,255,0.5);
    --b3-font-background9:  var(--text-selection-background);
    --b3-font-color9: #dd4c4f;
    --b3-font-color7: #1478d4;
    --b3-font-color3: #44c7c9;
    --b3-font-color11: rgb(30,70,32);
    --b3-font-color5: var(--b3-theme-on-surface);
    --b3-font-color10: var(--b3-theme-primary);
    --b3-font-color2: var(--b3-theme-secondary);
    --b3-font-color12: #a47327;
    --b3-font-color1:  #f5539e;
    --b3-font-color6: #944194;
    --b3-font-color4: #65b84d;
    --b3-font-color8: #f5822e;
    --b3-font-color13: var(--b3-theme-background);
    --h1-color: #084594;
    --h2-color: #2171b5;
    --h3-color: #4292c6;
    --h4-color: #6baed6;
    --h5-color: #9ecae1;
    --h6-color: #c6dbef;
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: #f5d1cf;
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: #ffe8c8;
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: #d6eaf9;
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: #d7eed8;

}

.toolbar .protyle-toolbar__divider::before {
        display: block;
    content: "fountain";
    font-size: 12px;
    margin: -5px 10px 0px 0px;
    opacity: 1;
    color: var(--b3-toolbar-color);
}

.toolbar{
  background-color:   var(--dock-background);
  border-bottom:      var(--dock-border);
	height:32px;
	margin-bottom: 0px;
	opacity: 1;
	transition: none;
	transform:none;
	z-index:8;
	transition-delay: none;
}

.toolbar__window{
	background-color: transparent;
	height:40px;
}
.b3-list--background .b3-list-item--focus .b3-list-item__meta--ellipsis{
    color:white;
}
.layout-tab-bar .item--full {
    border-radius:0px !important;
}
.layout-tab-bar .item--full.item--focus {
   background-color:transparent !important;
}
.layout-tab-bar .item--focus .item__text {
   border-color:transparent;
}

/*源泉 for 思源。Flying fly flies出品，[20201226] https://github.com/whyt-byte*/
/*Fountain for Siyuan. Created by Flying fly flies, [20201226] find more: https://github.com/whyt-byte*/
/*feel free to use and modify*/ 
.layout__resize--lr {
   opacity:0;
}
/*PDF*/
.pdf__outer #viewerContainer:not(.pdfPresentationMode){
    mix-blend-mode:unset !important;
}
#mainContainer {
   background-color:var(--b3-theme-background);
}
.b3-typography blockquote::before, .b3-typography .bq::before, .protyle-wysiwyg blockquote::before, .protyle-wysiwyg .bq::before {
   content:"“";
   color:var(--quote-border-color);
   display:block;
   font-size:400%;
   position:absolute;
   margin-left:-70px;
}
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
    background-color:var(--b3-theme-surface-lighter);
    border-left:none;
    padding-top:10px;
    padding-bottom:5px;
   border-radius:30px 0 0 0 !important;
   padding-left:20px;
   padding-right:10px;
}
.layout--float.layout__dockl .fn__flex.fn__flex-1, .layout--float.layout__dockr .fn__flex.fn__flex-1 {
   background-color:transparent;
}
#layouts div.layout__center div[data-type="wnd"] .layout-tab-container .protyle .protyle-breadcrumb .protyle-breadcrumb__item svg {
   opacity:0.6;
   color:var(--b3-theme-primary);
}
.table table {
  border:2px solid var(--b3-theme-primary);
}
/*.protyle-breadcrumb__bar {
   background-color:transparent;
    background: linear-gradient(45deg, #fff, transparent); 
}
.protyle-breadcrumb__bar .protyle-breadcrumb__item:hover{ 
   background-color:#f5f6f5;
}*/
.sy__file .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) .b3-list-item__toggle {
  color:#fff;
}