/*源泉 for 思源。Flying fly flies出品，[20201226] https://github.com/whyt-byte*/
/*Fountain for Siyuan. Created by Flying fly flies, [20201226] find more: https://github.com/whyt-byte*/
/*feel free to use and modify*/ 

:root {
    /* 主色 */
    --b3-theme-primary: #1478d4;
    --b3-theme-primary-light: rgba(41, 142, 236, 0.35);
    --b3-theme-primary-lighter: rgba(41, 142, 236, 0.2);
    --b3-theme-primary-lightest: rgba(41, 142, 236, 0.15);
    --b3-theme-secondary: #f3a92f; /* unused */
    --b3-theme-background: #f8f8f8;
    --b3-theme-surface: #e7e7e7;
    --left-sidebar-background:var(--b3-theme-surface);
    --left-sidebar-color:var(--b3-theme-on-background);
    --dock-background:var(--b3-theme-surface);
    --b3-theme-error: #d23f31; /* unused */

    /* 文字颜色 */
    --b3-theme-on-primary: rgb(255, 255, 255);
    --b3-theme-on-secondary: #fff; /* unused */
    --b3-theme-on-background: #202124;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: rgb(165, 19, 19);

    /* 字体 */
    --b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";

    /* 线条 */
    --b3-border-color: rgba(211, 211, 211, 0.897);

    /* 滚动条 */
    --b3-scroll-color: rgba(41, 142, 236, 0.3);

    /* 列表 */
    --b3-list-hover: rgba(0, 0, 0, .06);

    /* 页签 */
    --b3-tab-background:#e6e6e6;


    /* 提示 */
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;

    /* 编辑器工具栏高度 */
    --b3-vditor-toolbar-height: 35px;
    --b3-vditor-toolbar-height-space: 8px;

    /* 即时渲染标记符颜色 */
    --b3-vditor-mark-heading-color: #0095f8;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-link-color: #008000;
    --b3-vditor-mark-bracket-color: #338b00;
    --b3-vditor-mark-paren-color: #008000;
    --b3-vditor-mark-block-color: #0095f8;
    --b3-vditor-mark-em-color: #0033b3;
    --b3-vditor-mark-strong-color: #0033b3;
    --b3-vditor-mark-backslash-color: #0033b3;
    --b3-vditor-mark-s-color: #5f6368;
    --b3-vditor-mark-mark-color: #5f6368;

    --h1-color: #084594;
    --h2-color: #2171b5;
    --h3-color: #4292c6;
    --h4-color: #6baed6;
    --h5-color: #9ecae1;
    --h6-color: #c6dbef;

    --file-list-background: #0474cfe3;
    --file-list-background-files: #0474cf3d;
    --workplace-markdown: #ee9b00;
    --layout-tabbar: #808080;
    --blockquote-color: #1d1d1d;
    --link-color: #46ac39;

    /* 图表颜色 */
    --b3-graph-line: #929292;
    --b3-graph-hl-point: #1f78b4;
    --circle-color: #95c6e0;
    --line-color: #ff7402;
    --b3-graph-hl-line: #ff7402;
}


/*目录栏*/
.b3-list--background .b3-list-item--focus{
    background-color: var(--file-list-background) !important;
}

.b3-list--background .b3-list-item--focus .b3-list-item__text, .b3-list--background .b3-list-item--focus .b3-list-item__graphic{
    color: white !important;
}

li.b3-list-item.b3-list-item--hide-action:hover{
    background-color: var(--file-list-background-files);
}

.toolbar__item:hover{
    color: var(--b3-theme-primary);
}

.ft__primary:hover{
    transform: scale(1.5);
}

.b3-list-item__text {
    line-height: 1.2;
}

.b3-list-item:hover {
    background-color: var(--file-list-background-files) !important;
}

/*页面标签栏*/
/*当前标签*/
.layout-tab-bar .item--focus {
    background-color: var(--file-list-background-files) !important;
    border-color: var(--b3-theme-primary);
    color: black !important;
}

.layout-tab-bar .item--focus:hover {
    background-color: var(--file-list-background-files);
}

/*标签形状*/
.layout-tab-bar .item {
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    color: var(--layout-tabbar);
}

/*代码框*/
.vditor-reset code:not(.hljs):not(.highlight-chroma):not(.language-math) {
    background-color:rgba(99, 163, 223, 0.2) !important;
}

code.language-math{
    background-color: transparent !important;
}

.b3-list--background .b3-list-item--focus {
    color: white;
}

/*工作区*/
.vditor-ir__link {
    color: var(--link-color);
}

blockquote {
    border-left: 5px solid !important;
    border-color: var(--b3-theme-primary) !important;
    background-color: var(--b3-theme-surface);
    color: #030303 !important;
    padding: 10px 10px 10px 15px !important;
}

.vditor-reset pre>code{
    border: 2px solid;
    border-color: var(--b3-theme-primary);
}

/*脚注等颜色*/
.hljs-bullet, .hljs-quote, .hljs-link, .hljs-number, .hljs-regexp, .hljs-literal {
    color: #0054d1 !important;
}

.hljs-comment, .hljs-quote {
    font-style: normal !important;
}

.hljs-symbol, .hljs-bullet{
    color: var(--b3-graph-hl-line) !important;
}

.hljs-title, .hljs-section, .hljs-selector-id {
    color: rgb(245, 131, 0) !important;
    font-weight: bold;
}

/*md语法*/
.vditor-ir__node .vditor-ir__marker {
    color: var(--workplace-markdown);
}

/*标题*/
.vditor-reset h1{
    color: var(--h1-color);
    border: none;
}
.vditor-reset h2{
    color: var(--h2-color);
    border: none;
}
.vditor-reset h3{
    color: var(--h3-color);
}
.vditor-reset h4{
    color: var(--h4-color);
}
.vditor-reset h5{
    color: var(--h5-color);
}
.vditor-reset h6{
    color: var(--h6-color);
}

/*关系图*/
.graph circle{
    color: var(--circle-color);
}

.graph line{
    color: var(--line-color);
}

/*table*/
.vditor-reset table td, .vditor-reset table th {
    border: 1px solid gray;
}

/*列表*/

/*简单竖线*/
ul,
ol,
ul ul,
ol ul,
ul ol,
ol ol {
    list-style-position: inside;
}

ul ul,
ol ul,
ul ol,
ol ol {
    content:'';
    border-left: 2px solid var(--b3-theme-surface);
    margin-left: 0.3em;
}
.toolbar .protyle-toolbar__divider::before {
        display: block;
    content: "fountain";
    font-size: 12px;
    margin: -5px 10px 0px 0px;
    opacity: 1;
    color: var(--b3-toolbar-color);
}
.config__panel>.b3-tab-bar .b3-list-item {
    line-height:45px !important;
    padding:10px 10px;
}
.toolbar{
  background-color:   var(--dock-background);
  border-bottom:      var(--dock-border);
	height:32px;
	margin-bottom: 0px;
	opacity: 1;
	transition: none;
	transform:none;
	z-index:8;
	transition-delay: none;
}
.toolbar__window{
	background-color: transparent;
	height:40px;
}
.b3-list--background .b3-list-item--focus .b3-list-item__meta--ellipsis{
    color:white;
}
.layout-tab-bar .item--full {
    border-radius:0px !important;
}
.layout-tab-bar .item--full.item--focus {
   background-color:transparent !important;
}