:root {
    /* 主色 */
    --b3-theme-primary: #f48ea8;
    --b3-theme-primary-light: rgba(171, 146, 180, 0.54);
    --b3-theme-primary-lighter: rgba(171, 146, 180, 0.38);
    --b3-theme-primary-lightest: rgba(171, 146, 180, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #fff3f3;
    --b3-theme-surface: #ffe0db;
--column-scrollbar-background-hover:#b390af;
    --b3-theme-surface-light: rgba(243, 243, 243, .86);
    --b3-theme-error: #d23f31;
    --left-sidebar-background:var(--b3-theme-surface);
    --left-sidebar-color:var(--b3-theme-on-background);
    --b3-toolbar-color:var(--b3-theme-on-background);
    --dock-background:var(--b3-theme-surface);
    --b3-dockright-color:var(--b3-theme-on-background);
--column-scrollbar-background:var(--b3-theme-primary-light);
--quote-border-color:var(--h1-color);
--quote-color:#9b90ab;
--text-selection-background:rgba(121, 150, 231, 0.215);
    --switch-uncheck-color:         #FFF; /* switch 开关未开启时颜色 */
    --block-margin:     var(--margin-top-bottom)  var(--margin-left-right)  !important; /* 块间距 */
    --block-padding:    var(--padding-top-bottom) var(--padding-left-right) !important; /* 块内边距 */
    --margin-top-bottom:            2px;    /* 上下 margin */
    --margin-left-right:            0px;    /* 左右 margin */
    --padding-top-bottom:           2px;    /* 上下 padding */
    --padding-left-right:           4px;    /* 左右 padding */
    --line-height:                  1.75em; /* 行高 */



    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #5a647e;
    --b3-theme-on-surface: #5a647e;
    --b3-theme-on-error: #fff;


    /* 线条 */
    --b3-border-color: rgba(134, 117, 169, .1);

    /* 滚动条 */
    --b3-scroll-color: rgba(134, 117, 169, .2);

    /* 列表 */
    --b3-list-hover: rgba(134, 117, 169, .05);

    /* 页签 */
    --b3-tab-background: #ffe0db;
    --b3-tab-background-hover: #ffe0db;

    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);

    /* 提示 */

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: #f5d1cf;
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: #ffe8c8;
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: #d6eaf9;
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: #d7eed8;
    /* 自定义文字 */
    --b3-font-color9: #dd4c4f;
    --b3-font-color7: #1478d4;
    --b3-font-color3: #44c7c9;
    --b3-font-color11: rgb(30,70,32);
    --b3-font-color5: var(--b3-theme-on-surface);
    --b3-font-color10: var(--b3-theme-primary);
    --b3-font-color2: var(--b3-theme-secondary);
    --b3-font-color12: #a47327;
    --b3-font-color1:  #f5539e;
    --b3-font-color6: #944194;
    --b3-font-color4: #65b84d;
    --b3-font-color8: #f5822e;
    --b3-font-color13: var(--b3-theme-background);
    --b3-font-background10: rgba(239, 218, 251, 0.5);
    --b3-font-background11: rgba(234, 202, 220, 0.5);
    --b3-font-background12: rgba(253, 198, 200, 0.5);
    --b3-font-background13: var(--b3-theme-on-background);

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px, rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;

    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #8675A9;
    --b3-protyle-search-border-color: #8675A9;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(27, 31, 35, .05);

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #8675A9;
    --b3-protyle-inline-em-color: #8675A9;
    --b3-protyle-inline-s-color: #8675A9;
    --b3-protyle-inline-link-color: #FE8F8F;
    --b3-protyle-inline-mark-background: #f4f9da;
    --b3-protyle-inline-mark-color: #cdd1d6;
    --b3-protyle-inline-tag-color: #FE8F8F;
    --b3-protyle-inline-blockref-color: var(--b3-protyle-inline-link-color);

    /* PDF */
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-theme-error);
    --b3-pdf-background2: #f5822e;
    --b3-pdf-background3: var(--b3-theme-secondary);
    --b3-pdf-background4: #65b84d;
    --b3-pdf-background5: #f5539e;
    --b3-pdf-background6: var(--b3-theme-primary);
    --b3-pdf-background7: #944194;

    --h1-color: #f3678e;
    --h2-color: #f47d9c;
    --h3-color: #f48ea8;
    --h4-color: #f48ea8;
    --h5-color: #f48ea8;
    --h6-color: #f48ea8;
    --code-block-background:#EFBBCF !important;
}
.protyle-wysiwyg ::selection{ 
    background-color:rgba(121, 150, 231, 0.215);
}
.protyle-wysiwyg--select, .protyle-wysiwyg--select .hljs {
    background-color: #73bce928 !important;
}

.toolbar{
  background-color:   var(--dock-background);
  border-bottom:      var(--dock-border);
	height:32px;
	margin-bottom: 0px;
	opacity: 1;
	transition: none;
	transform:none;
	z-index:8;
	transition-delay: none;
}
.toolbar__window{
	background-color: transparent;
	height:40px;
}
/*当前应用主题提示*/
.toolbar .protyle-toolbar__divider::before {
        display: block;
    content: "FruitsPink";
    font-size: 12px;
    margin: -5px 10px 0px 0px;
    opacity: 1;
    color: var(--b3-toolbar-color);
}
.config__panel>.b3-tab-bar .b3-list-item {
    line-height:45px !important;
}
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"] {
   border-bottom:1px dashed var(--b3-protyle-inline-blockref-color);
}
/*PDF*/
.pdf__outer #viewerContainer:not(.pdfPresentationMode){
    mix-blend-mode:unset !important;
}
#mainContainer {
   background-color:var(--b3-theme-background);
}
:root {
    --b3-font-background1: #ffe4e4;
    --b3-font-background2: #ffface;
    --b3-font-background3: #d9ebea;
    --b3-font-background4: #e8eed8;
    --b3-font-background5: #ede5e5;
    --b3-font-background8: #ffe3cd;
    --b3-font-background6: #f3e6f7;
    --b3-font-background7:  #e7ecf7;
    --b3-font-background9:  var(--text-selection-background);
}
[style*="color:var(--b3-font-background10)"], [style*="color: var(--b3-font-background10)"] {
    text-decoration: 0.6em underline #ffffff;
    text-decoration-skip-ink: none;
    text-underline-offset: -0.6em;
    background-color: transparent !important;
}
.layout__resize--lr {
   opacity:0;
}
.fn__flex-shrink .block__icons,.fn__flex-1.fn__flex-column.file-tree,.fn__flex-1.plugin-webapp_custom-dock,.fn__flex-1.plugin-excalidraw-dock,.fn__flex-1.sy__siyuan-dailynote-todaydock_tab.layout__tab--active {
   background-color:var(--b3-theme-background);
}
/* 表格样式 */
.b3-typography table,
.protyle-wysiwyg table {
    border-radius:0;
    border-collapse: separate;
    border-spacing: 0;
    border-top: 2px solid var(--b3-theme-primary-light); 
    border-left: 2px solid var(--b3-theme-primary-light);
    border-bottom: none;
    border-right: none;
    font-size: 90%;
    line-height: 1.625em !important;
}
.b3-typography table tr td, .b3-typography table tr th, .protyle-wysiwyg table tr td,.protyle-wysiwyg table tr th {
    background-color: var(--b3-theme-background) !important;
    border-spacing: 0;
    border-top: none;
    border-left: none;
    border-right: 2px solid var(--b3-theme-primary-light);
    border-bottom: 2px solid var(--b3-theme-primary-light);
}
.b3-typography blockquote::before, .b3-typography .bq::before, .protyle-wysiwyg blockquote::before, .protyle-wysiwyg .bq::before {
   content:"“";
   color:var(--quote-border-color);
   display:block;
   font-size:400%;
   position:absolute;
   margin-left:-70px;
}
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
    background-color:var(--b3-theme-surface-lighter);
    border-left:none;
    padding-top:10px;
    padding-bottom:5px;
   border-radius:30px 0 0 0 !important;
   padding-left:20px;
   padding-right:10px;
}
#layouts div.layout__center div[data-type="wnd"] .layout-tab-container .protyle .protyle-breadcrumb .protyle-breadcrumb__item svg {
   color:var(--b3-theme-primary);
}
.layout--float.layout__dockl .fn__flex.fn__flex-1, .layout--float.layout__dockr .fn__flex.fn__flex-1 {
   background-color:transparent;
}

.protyle-wysiwyg [data-node-id] span[data-type~=tag] {
   background-color:#fcb8b8;
}
.protyle-wysiwyg [data-node-id][custom-riff-decks] {
   box-shadow: -3px 0px 0px -1px #f9dada inset;
}