:root {
    --b3-theme-primary:black;
    --b3-theme-background:#f8f9fa;
    --b3-card-info-background:transparent;
    --b3-card-info-color:transparent;
    --b3-protyle-inline-mark-background:transparent;
    --b3-protyle-inline-mark-color:#dd3333;
    --b3-protyle-inline-blockref-color:#3366cc;
    --b3-protyle-inline-fileref-color:#3366cc;
    --b3-border-color:#c8ccd1;
    --b3-toolbar-color:black;
    --b3-toolbar-blur-background:rgba(233,233,244,1);
    --b3-toolbar-background:rgba(211,211,222,1);
    --b3-toolbar-hover:rgba(170,170,170,0.7);
    --b3-font-family-serif:"Linux Libertine","Georgia","Times",serif;
    --b3-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --b3-protyle-inline-link-color:#3366cc;
    --left-sidebar-background:#f6f8fa;
    --left-sidebar-color:#3b3f40;
    --dock-background:var(--left-sidebar-background);
}
body{
    border: 1px solid rgba(0,0,0,0.5);
}
/* 正文字体大小 */
/*.b3-typography, .protyle-wysiwyg, .protyle-title{
    font-size: 18px !important;
}*/
/* 页面标题 */
.protyle-title__input,.b3-typography .h1, .b3-typography h1, .protyle-wysiwyg .h1, .protyle-wysiwyg h1,.b3-typography .h2, .b3-typography h2, .protyle-wysiwyg .h2, .protyle-wysiwyg h2{
    font-family:var(--b3-font-family-serif);
    font-weight: normal;
/*    font-size: 28.8px;*/
    border-bottom: 1px solid #a2a9b1;
    line-height: 1.3;
}
/* 一级标题 */
.b3-typography .h1, .b3-typography h1, .protyle-wysiwyg .h1, .protyle-wysiwyg h1,.b3-typography .h2, .b3-typography h2, .protyle-wysiwyg .h2, .protyle-wysiwyg h2{
/*    font-size: 25.2px;*/
    padding-bottom:0px;
    border-radius: 0px;
}
/* 二级标题 */
.b3-typography .h2, .b3-typography h2, .protyle-wysiwyg .h2, .protyle-wysiwyg h2{
/*    font-size: 22px;*/
}
.b3-typography .h3, .b3-typography h3, .protyle-wysiwyg .h3, .protyle-wysiwyg h3{
/*    font-size: 18px;*/
    padding-bottom:0px;
}
.b3-typography .h4, .b3-typography h4, .protyle-wysiwyg .h4, .protyle-wysiwyg h4{
 /*   font-size: 16px;*/
    padding-bottom:0px;
}
.b3-typography .h5, .b3-typography h5, .protyle-wysiwyg .h5, .protyle-wysiwyg h5{
/*    font-size: 14px;*/
    padding-bottom:0px;
}
.b3-typography .h6, .b3-typography h6, .protyle-wysiwyg .h6, .protyle-wysiwyg h6{
/*    font-size: 12px;*/
    padding-bottom:0px;
}
/* 外链*/
.protyle-wysiwyg [data-node-id] span[data-type~=a]{
    background-image: url(/appearance/themes/toy/src/elink.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.857em;
    padding-right: 1em;
    
}
.protyle-wysiwyg [data-node-id] span[data-type~=a]:hover{
    border-bottom:none;
    text-decoration: underline;
}
/* 内链*/
.protyle-wysiwyg[contenteditable=true] span[data-type~=block-ref]{
    transition:none;
    opacity:1
}
.protyle-wysiwyg[contenteditable=true] span[data-type~=block-ref]:hover{
    text-decoration: underline;
    transition:none;
    opacity:1
}
/* 图片*/
.b3-typography img, .protyle-wysiwyg img{
    background-color: #ffffff;
    border: 1px solid #c8ccd1;
}
.b3-typography .img>span:nth-child(2), .protyle-wysiwyg .img>span:nth-child(2){
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
    padding:3px
}
.b3-typography .img .protyle-action__title, .protyle-wysiwyg .img .protyle-action__title{
    text-align: left;
/*    font-size:12.37px;*/
    padding-left:3px;
    padding-right:3px;
}
.b3-typography table tr td, .b3-typography table tr th, .protyle-wysiwyg table tr td, .protyle-wysiwyg table tr th{
    border: 1px solid #a2a9b1;
}
.b3-typography table tr th, .protyle-wysiwyg table tr th{
    background-color: #eaecf0
}
/* 分割线*/
.protyle-wysiwyg [data-node-id].hr>div{
    border-bottom:1px solid #a2a9b1
}
/* 提示*/
.tooltip{
    color:black;
    border-radius: 0px;
    background-color:#f8f9fa;
    border: 1px solid black;
}
/* 备注*/
.protyle{
    counter-reset: memowiki;
}
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo]::after{
    color:#3366cc;
    counter-increment: memowiki;
    content:"["counter(memowiki)"]";
  /*  font-size: 80%; */
    line-height: 1;
    vertical-align: super;
    cursor:pointer;
}
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo]:hover::after{
    text-decoration: underline;
}
/* 引述*/
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq{
    border-left: 4px solid #eaecf0;
    padding: 8px 32px;
    background-color: #f8f9fa;
}
/* 文件链接*/
.protyle-wysiwyg [data-node-id] span[data-type~=a][data-href^="assets/"]{
    background-image:none;
    padding-right:0
}
.protyle-wysiwyg [data-node-id] span[data-type~=a][data-href^="assets/"]:before{
    content:"File:";
}
/* pdf标注*/
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]{
    font-size:12.6px !important
    color:black
}
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]:hover{
    color:#3366cc;
    text-decoration: underline;
}
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]:before{
    color:#3366cc;
    content:"(∨ ";
}
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]:after{
    color:#3366cc;
    content:")";
}
/* 文档树修改*/
/* 文档树图标修改*/
.file-tree.sy__file .b3-list-item__icon.b3-tooltips.b3-tooltips__n,.file-tree.sy__file .b3-list-item__icon.b3-tooltips.b3-tooltips__e{
    opacity:0
}
.file-tree.sy__file .b3-list-item__icon.b3-tooltips.b3-tooltips__n:hover,.file-tree.sy__file .b3-list-item__icon.b3-tooltips.b3-tooltips__e:hover{
    opacity:1
}
/* 去掉文档树图标*/
.file-tree.sy__file .b3-list-item__icon.b3-tooltips.b3-tooltips__n,.file-tree.sy__file .b3-list-item__icon.b3-tooltips.b3-tooltips__e{
    display:none;
}
/* 文档树折叠按钮修改*/
.file-tree.sy__file .b3-list-item__toggle{
    min-width:20px;
    padding-right:1px;
    padding-left:10px;
}
.file-tree.sy__file ul span.b3-list-item__text{
    color:black;
    
}
.file-tree.sy__file ul ul span.b3-list-item__text{
    font-weight:normal;
    color:#3366cc;
}
.file-tree.sy__file li.b3-list-item--focus  span.b3-list-item__text{
    color:black;
    font-weight:bold
}
.file-tree.sy__file  .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom){
    background-color:transparent
}
.file-tree.sy__file  .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom):hover{
    background-color:rgba(200,200,200,0.4)
}
.file-tree.sy__file li.b3-list-item[data-type="navigation-root"]{
    border-bottom: 1px solid #eaecf0;
}
.file-tree.sy__file .b3-list--background .b3-list-item:hover:not(.b3-list-item--focus){
    background-color:rgba(200,200,200,0.2)
}
.file-tree.sy__file .b3-list--background ul .b3-list-item:hover:not(.b3-list-item--focus)  span.b3-list-item__text{
    color:#3366cc;
    text-decoration: underline;
}
/* 面包屑伪装地址栏*/
.protyle-breadcrumb__bar .protyle-breadcrumb__arrow,.protyle-breadcrumb__bar .protyle-breadcrumb__item.protyle-breadcrumb__item--active{
    display:none;
}
.protyle-breadcrumb__bar:before{
    content:"https://www.siyuanwiki.org";
}
.protyle-breadcrumb__bar:after{
    content:".php";
}
.protyle-breadcrumb{
    border-radius: 22px;
    padding-left:20px;
    border: 0.5px solid rgba(100,100,100,0.2);
    margin:2px;
    background-color:rgba(233,255,233,0.7)
}
.protyle-breadcrumb__bar .protyle-breadcrumb__item:before{
    content:"/";
}
.protyle-breadcrumb__bar .protyle-breadcrumb__item{
    padding-left:1px;
    padding-right:1px;
}
.protyle-breadcrumb__bar .protyle-breadcrumb__item .protyle-breadcrumb__text{
    margin-left:0px;
}
.protyle-breadcrumb__bar .protyle-breadcrumb__item .popover__block{
    margin-left:2px;
    margin-right:2px;
}
/* 工具栏和标签页*/
.toolbar{
    border-bottom: transparent
}
.toolbar__text{
    color:black;
}
.layout-tab-bar .item{
    background-color:var(--b3-toolbar-background);
    border-left:0.5px solid rgba(100,100,100,0.2);
}
li.item.item--focus[data-type="tab-header"] + li.item:not(.item--focus)[data-type="tab-header"]{
    border-left:none;
}
.layout__wnd--active .layout-tab-bar .item--focus:after{
    background-color:transparent;
}
.layout-tab-bar{
    border-bottom:none;
    background-image: linear-gradient(var(--b3-toolbar-background) 50%, var(--b3-toolbar-background) 50%);
}
li.item.item--focus[data-type="tab-header"]{
    background-color:var(--b3-theme-background);
    border-radius:15px 15px 0 0;
}
body.body--blur .layout__wnd--active .layout-tab-bar .item--focus{
    box-shadow:none;
}
.toolbar{
  background-color:   var(--dock-background);
  border-bottom:      var(--dock-border);
	height:32px;
	margin-bottom: 0px;
	opacity: 1;
	transition: none;
	transform:none;
	z-index:8;
	transition-delay: none;
}
.toolbar__window{
	background-color: transparent;
	height:40px;
}
/*当前应用主题提示*/
.toolbar .protyle-toolbar__divider::before {
        display: block;
    content: "Mediawiki";
    font-size: 12px;
    margin: -5px 10px 0px 0px;
    opacity: 1;
    color: var(--b3-toolbar-color);
}
.config__panel>.b3-tab-bar .b3-list-item {
    line-height:45px !important;
}
.fn__flex-shrink div {
   background:var(--left-sidebar-background);
}
.block__popover .protyle-breadcrumb__item:not(:first-child), .block__popover .protyle-breadcrumb__arrow:not(:first-child) {
   opacity:1;
}
.block__popover .protyle-breadcrumb__item:first-child {
   font-weight:normal;
}
.layout-tab-bar .item--focus .item__text {
   border-color:transparent;
}
.status__counter:not(:empty),.status__counter:not(:empty) span {
   background-color:transparent;
   color:black;
}