.layout--float.layout__dockl .fn__flex.fn__flex-1, .layout--float.layout__dockr .fn__flex.fn__flex-1 {
   background-color:transparent;
}

:root {
    /* 主色 */
    --b3-theme-primary: #4a6a6e;
    --switch-uncheck-color:         #FFF; /* switch 开关未开启时颜色 */
    --b3-theme-primary-light: rgba(211, 190, 168, 0.54);
    --b3-theme-primary-lighter: rgba(211, 190, 168, 0.38);
    --b3-theme-primary-lightest: rgba(211, 190, 168, 0.12);
    --b3-theme-secondary: #f3a92f;
--column-scrollbar-background:var(--b3-list-hover);
    --left-sidebar-background:#dce4ea;
    --left-sidebar-color:#182026;
--column-scrollbar-background-hover:#8fb5b2;
    --dock-background:var(--left-sidebar-background);
    --block-margin:     var(--margin-top-bottom)  var(--margin-left-right)  !important; /* 块间距 */
    --block-padding:    var(--padding-top-bottom) var(--padding-left-right) !important; /* 块内边距 */
    --margin-top-bottom:            2px;    /* 上下 margin */
    --margin-left-right:            0px;    /* 左右 margin */
    --padding-top-bottom:           2px;    /* 上下 padding */
    --padding-left-right:           4px;    /* 左右 padding */

    /* */
    /* 主面板背景色 */
    --b3-theme-background: #ececec;
    /* 鼠标滑过大纲栏 显示的颜色 */
    --b3-theme-background-light: #d3c5b6;
    /* 大纲面板背景色 */
    --b3-theme-surface: #dbe2e9;
    --b3-theme-surface-light: rgba(243, 243, 243, .86);
    --b3-theme-surface-lighter: rgba(0, 0, 0, .06);
    --b3-theme-error: #d23f31;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #0b0b0b;
    --b3-theme-on-surface: #191919;
    --b3-theme-on-surface-light: rgba(27, 27, 27, 0.68);
    --b3-theme-on-error: #fff;
    --line-height:                  1.75em; /* 行高 */

    /* 字体 */
   /* --b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-font-family-math: KaTeX_Math;*/

    /* 顶部工具栏 */
    --b3-toolbar-background: #2b2d30;
    --b3-toolbar-blur-background: transparent;
    --b3-toolbar-color: var(--left-sidebar-color);
    --b3-toolbar-hover: #383a42;
    --b3-toolbar-left-mac: 69px;

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, 0.22);

    /* 滚动条 */
    --b3-scroll-color: rgba(0, 0, 0, .2);

    /* 列表 */
    /* 大纲当前位置处于的项的颜色*/
    --b3-list-hover: #8dafad50;
    /* 大纲当前位置处于的项的 后续图标被放上鼠标的颜色*/
    --b3-list-icon-hover: rgba(222, 124, 163, 0.548);

    /* 菜单 */
    --b3-menu-background: #dbe2e9;

    /* 提示 */

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: #f5d1cf;
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: #ffe8c8;
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: #d6eaf9;
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: #d7eed8;

    /* 自定义文字 */
    --b3-font-color9: #dd4c4f;
    --b3-font-color7: #1478d4;
    --b3-font-color3: #44c7c9;
    --b3-font-color11: var(--b3-card-success-color);
    --b3-font-color5: var(--b3-theme-on-surface);
    --b3-font-color10: var(--b3-theme-primary);
    --b3-font-color2: var(--b3-theme-secondary);
    --b3-font-color12: #a47327;
    --b3-font-color1:  #f5539e;
    --b3-font-color6: #944194;
    --b3-font-color4: #65b84d;
    --b3-font-color8: #f5822e;
    --b3-font-color13: var(--b3-theme-background);
    --b3-font-background10: #e6c7e6;
    --b3-font-background11: #def0d9;
    --b3-font-background12: rgba(253, 198, 200, 0.5);
    --b3-font-background13: var(--b3-theme-on-background);

    /* 动画效果 */
    --b3-transition: all .2s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .2s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 下拉菜单 */
    --b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right 2px center var(--b3-theme-background);

    /* 阴影 */
    --b3-dialog-shadow: rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px, rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;
    --b3-button-shadow: 0px 5px 5px -3px rgb(0 0 0 / 0.2), 0px 8px 10px 1px rgb(0 0 0 / 0.14), 0px 3px 14px 2px rgb(0 0 0 / 0.12);

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #8250df;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 行内代码背景 */
    --b3-protyle-code-background: rgba(215, 163, 111, 0.374);
    /*--b3-protyle-code-background: rgba(137, 195, 80, 0.384);*/
    --b3-protyle-code-linenumber-hl: #b9d1f4;

    /* 所见即所得行内元素颜色 */
    /* 加粗 */
    --b3-protyle-inline-strong-color: inherit;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #202124;
    --b3-protyle-inline-link-color: var(--b3-theme-primary);
    --b3-protyle-inline-mark-background: #d3b57f;
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: var(--b3-theme-primary);

    /* PDF */
    --h1-color: #4b7080;
    --h2-color: #6a9395;
    --h3-color: #85a9a3;
    --h4-color: #85a9a3;
    --h5-color: #85a9a3;
    --h6-color: #85a9a3;
--text-selection-background:rgba(210,190,168,0.6);
    --quote-border-color:           #adbbc9;    /* 引述左边框颜色 */
    --blockquery:var(--quote-border-color) !important;
}

/* https://github.com/siyuan-note/siyuan/issues/6440 */
.protyle-action--order:after {
    mix-blend-mode: multiply;
}



.toolbar{
  background-color:   var(--dock-background);
  border-bottom:      var(--dock-border);
	height:32px;
	margin-bottom: 0px;
	opacity: 1;
	transition: none;
	transform:none;
	z-index:8;
	transition-delay: none;
}
.toolbar__window{
	background-color: transparent;
	height:40px;
}
.toolbar .protyle-toolbar__divider::before {
        display: block;
    content: "Rainy Puff";
    font-size: 12px;
    margin: -5px 10px 0px 0px;
    opacity: 1;
    color: var(--b3-toolbar-color);
}
.b3-dialog__container, .b3-menu, .protyle-util,.b3-menu__submenu{
   border:1px solid rgba(255, 255, 255, 0.7) !important;
}

.layout__resize:after {
   opacity:0.3;
}
/*PDF*/
.pdf__outer #viewerContainer:not(.pdfPresentationMode){
    mix-blend-mode:unset !important;
}
#mainContainer {
   background-color:var(--b3-theme-background);
}
:root {
    --b3-font-background1: #f2dfdf;
    --b3-font-background2: #fbf5c2;
    --b3-font-background3: #dbe9e9;
    --b3-font-background4: #dbe9d3;
    --b3-font-background5: #e0e0e0;
    --b3-font-background8: #f2dec8;
    --b3-font-background6:  #e6e1f2;
    --b3-font-background7:  #dae7f2;
    --b3-font-background9:  var(--text-selection-background);
}
.layout__resize--lr {
   opacity:0;
}
.fn__flex-shrink .block__icons,.fn__flex-1.fn__flex-column.file-tree,.fn__flex-1.plugin-webapp_custom-dock,.fn__flex-1.plugin-excalidraw-dock,.fn__flex-1.sy__siyuan-dailynote-todaydock_tab.layout__tab--active {
   background-color:var(--b3-theme-background);
}
.b3-typography blockquote::before, .b3-typography .bq::before, .protyle-wysiwyg blockquote::before, .protyle-wysiwyg .bq::before {
   content:"“";
   color:#8cafad;
   display:block;
   font-size:400%;
   position:absolute;
   margin-left:-70px;
}

element.style {
}
<style>
.protyle-wysiwyg.protyle-wysiwyg [data-node-id]:not([data-type="NodeHTMLBlock"]):not([data-type="NodeCodeBlock"]):not([data-type="NodeBlockquote"]) {
    line-height: 2em !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id]:not([data-type="NodeHTMLBlock"]):not([data-type="NodeCodeBlock"]):not([data-type="NodeBlockquote"]) {
    line-height: 1.8em;
    margin-bottom: 6px;
    margin-top: 6px;
}
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    background-color: transparent;
    border: 3px solid transparent;
    box-shadow: 0 0 0 2px #8cafad inset, 0 0 0 4px #8cafad;
}
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
    background-color:rgb(157, 181, 191,0.3);
    border-left:none;
    padding-top:10px;
    padding-bottom:5px;
   border-radius:30px 0 0 0 !important;
   padding-left:20px;
   padding-right:10px;
}
.fn__flex-1.fn__flex.config__panel {
   border-radius: var(--b3-border-radius-b) var(--b3-border-radius-b) !important;
}
#layouts div.layout__center div[data-type="wnd"] .layout-tab-container .protyle .protyle-breadcrumb .protyle-breadcrumb__item svg {
   color:var(--b3-theme-primary);
}
.table table {
  border:2px solid var(--blockquery);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag] {
   background-color:rgb(90 136 133 / 56%);
}